n8n-workflow-rag-completo.json
{
  "name": "RAG Agent - Funcionando",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "options": {}
      },
      "id": "openai-agent",
      "name": "OpenAI Chat Model - Agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1000, 300],
      "credentials": {
        "openAiApi": {
          "id": "5t9QpVtTwdE9N6Qg",
          "name": "API GPT"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "options": {}
      },
      "id": "openai-tool",
      "name": "OpenAI Chat Model - Tool",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1200, 500],
      "credentials": {
        "openAiApi": {
          "id": "5t9QpVtTwdE9N6Qg",
          "name": "API GPT"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "embeddings",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [1000, 600],
      "credentials": {
        "openAiApi": {
          "id": "5t9QpVtTwdE9N6Qg",
          "name": "API GPT"
        }
      }
    },
    {
      "parameters": {
        "tableName": "knowledge_base",
        "options": {}
      },
      "id": "pgvector",
      "name": "Postgres PGVector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [1000, 700],
      "credentials": {
        "postgres": {
          "id": "UScfa8J9erjcb5Ei",
          "name": "Agentes IA - Sistema"
        }
      }
    },
    {
      "parameters": {
        "name": "buscar_documentos",
        "description": "Use esta ferramenta para buscar informações na base de conhecimento. SEMPRE use esta ferramenta antes de responder. Retorne EXATAMENTE o conteúdo encontrado sem modificações.",
        "topK": 3
      },
      "id": "vector-tool",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Você é um assistente que responde perguntas APENAS com base nas informações encontradas pela ferramenta buscar_documentos.\n\nREGRAS OBRIGATÓRIAS:\n1. SEMPRE use a ferramenta buscar_documentos ANTES de responder qualquer pergunta\n2. Responda APENAS com as informações EXATAS retornadas pela ferramenta\n3. Se a ferramenta não retornar informações relevantes, responda: \"Não encontrei informações sobre isso na base de conhecimento\"\n4. Seja direto e objetivo\n5. NÃO invente ou adicione informações que não estão nos documentos\n\nExemplo de uso correto:\nPergunta: \"Quantos leads gerou a campanha penzsaur?\"\nAção: Usar buscar_documentos(\"Quantos leads gerou a campanha penzsaur\")\nDocumento retornado: \"as campanhas penzsaur foram ótimas no ultimo mes com 152 leads\"\nResposta: \"A campanha penzsaur gerou 152 leads.\""
        }
      },
      "id": "agent",
      "name": "Agent RAG",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [800, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "trigger",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [600, 300],
      "webhookId": "chat-rag-test-001"
    }
  ],
  "connections": {
    "OpenAI Chat Model - Agent": {
      "ai_languageModel": [
        [
          {
            "node": "Agent RAG",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - Tool": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent RAG",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent RAG": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Agent RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}